body {
  margin: 0;
  background: #1c1c1c;
  font-family: "Karla", sans-serif;
}

.main-container {
  width: 550px;
  height: 550px;
  margin: 64px auto;
  background-color: #1f2937;
  padding-top: 115;
  padding-left: 52px;
  padding-right: 52px;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin: 0px;
  letter-spacing: -0.025em;
}

.title2 {
  color: #4adf86;
  margin: 0px;
}

.subtitle {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 28px;
}

button {
  background-color: #10b981; /* Cambia el color de fondo del botón */
  color: #ffffff; /* Cambia el color del texto del botón */
  border: none; /* Elimina cualquier borde predeterminado */
  padding: 9px 17px 9px 15px; /* Ajusta el relleno del botón */
  border-radius: 6px; /* Ajusta el redondeo de las esquinas del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

hr {
  margin-top: 35px;
  margin-bottom: 0;
  height: 1px; /* Define el grosor del <hr> */
  background-color: #2f3e53; /* Cambia el color del <hr> */
  border: none; /* Elimina cualquier borde predeterminado */
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

#password1,
#password2 {
  width: 180px;
  height: 32px;

  text-align: center;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;

  background-color: #273549; /* Cambia el color de fondo del botón */
  color: #55f991; /* Cambia el color del texto del botón */
  border: none; /* Elimina cualquier borde predeterminado */
  padding: 4px 16px; /* Ajusta el relleno del botón */
  border-radius: 6px; /* Ajusta el redondeo de las esquinas del botón */

  margin-top: 40px;
}

#passwordLength {
  width: 180px;
  height: 42px;

  text-align: center;

  margin-left: 7px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;

  background-color: #273549; /* Cambia el color de fondo del botón */
  color: #55f991; /* Cambia el color del texto del botón */
  border: none; /* Elimina cualquier borde predeterminado */
  padding: 4px 16px; /* Ajusta el relleno del botón */
  border-radius: 6px; /* Ajusta el redondeo de las esquinas del botón */
}
